name: Build-Android-APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install buildozer cython==0.29.33
      - name: Build with Buildozer
        run: |
          yes | buildozer android debug || true
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Boss-Guard-App
          path: bin/*.apk
