name: Final-Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build APK
        uses: ArtemSerebriakov/buildozer-action@v1
        with:
          command: buildozer android debug
